body {
  background-color: #393E46;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  background-color: black;
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  width: 100%;
  padding: 10px 0;
}

.refresh {
  background-color: #fff;
  width: 200px;
  margin-top: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: #4ECCA3;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.refresh:hover {
  background-color: #4ECCA3;
  color: #fff;
}
